@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ultra&display=swap');
*{
  font-family: "Bebas Neue", serif;
  margin: 0%;
  padding: 0%;
  color: white;
}

/* MENU */

.menu{
  width: 100%;
  position: absolute;
  display: flex;
  list-style-type: none;
  padding-top: 5rem;
  padding-left: 15%;
  box-sizing: border-box;
}

.menu li a{
  font-size: 35px;
  padding: 1rem;
  transition: 0.5s;
  margin: 1rem;
  border-radius: 10px;
  text-decoration: none;
}

.menu li a:hover{
  cursor: pointer;
  text-shadow: 0px 0px 40px #b80fcb;
  color: white;
}

/* ABOUT */

.about{
  background-color: #071742;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.text-about{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-about div{
  width: 600px;
  /* background-color: rebeccapurple; */
}
.text-about h1{
  text-shadow: 0px 0px 8px #b80fcb;
  font-size: 900%;
  margin-left: 1rem;
  font-family: "Ultra", serif !important;
  text-align: start;
}

.text-about p{
  text-shadow: 0px 0px 8px #b80fcb;
  font-size: 150%;
  margin-left: 1rem;
  font-family: "Ultra", serif !important;
  text-align: start;
}

.alberto_1{
  object-fit: cover;
  padding-right: 5rem;
  width: 50%;
}

/* COMPANIES */

/* styles.css */
.companies {
  display: flex;
  /* flex-direction: column; */
  gap: 20px;
  padding: 20px;
  background-color: #0f0f11;
}

.company {
  width: 33%;
  background-color: #282626;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.company h2 {
  margin: 0;
  font-size: 3rem;
}

.company h3 {
  margin: 5px 0;
  font-size: 1.2rem;
  color: #555;
}

.company p {
  margin: 10px 0;
  font-size: 1rem;
  color: #333;
}

.company span {
  font-size: 0.9rem;
  color: #888;
}

/* FOOTER */

.footer p{
  font-family: "Montserrat", serif !important;
  text-align: center;
  padding: 2rem;
  font-size: 18px;
  background-color: black;
}